* {
  box-sizing: border-box;
  font-family: “Segoe UI”, Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
body {
  margin: 0;
  width: 100%;
}

/* スマートフォン(Portfolio)用デザイン */
header {
  background-color: black;
  color: white;
  height: 4vmax;
  left: 0;
  margin-bottom: 1vh;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%; 
  z-index: 10;
}

.header_wrapper {
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  padding: 0.5vh 0;
  width: 100%;
}

.header_left {
  background-color: blue;
  width: 35%;
}

.header_center {
  background-color: chartreuse;
  width: 26%;
}

.header_right {
 background-color: coral;
  width: 35%;
}

.site_title {
  font-size: 5vw;
  font-weight: bold;
  line-height: 4vmax;
}

.header_contents {
  color: white;
  font-size: 2vw;
  line-height: 4vmax;
}

.header_link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.header_link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.header_link:focus {
  color: rgba(255, 255, 255, 0.3);
}

.main {
  background-color: white;
  margin-top: 4vmax;
  padding: 0.5vh 0;
  width: 100%; 
}

.main_wrapper {
  background-color: green;
  margin: 0.5vh 1vw;
  text-align: center;
}

.main_message {
  background-color: yellow;
  margin: 0.5vh 0;
  padding: 0.2vh 1.5vw;
  text-align: left;
}

.main_message p {
  background-color: pink;
  color: red;
  font-size: 2vw;
  margin: 0.2vmin 0;
}

.main_title {
  background-color: orange;
  font-size: 3vw;
  font-weight: bold;
  margin: 0.5vh 0;
  text-align: left;
}

.main_contents {
  background-color: turquoise;
  font-size: 1.4vw;
  margin: 0.5vh 0 0 0;
}

footer {
  background-color: black;
  color: white;
  height: 3.5vmax;
  width: 100%; 
}

.footer_wrapper {
  background-color: yellow;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.footer_left {
  background-color: chocolate;
  width: 24%;
}

.footer_center {
  background-color: crimson;
  width: 48%;
}

.footer_right {
  background-color: darkgreen;
  width: 24%;
}

.site_inc {
  font-size: 2.2vw;
  line-height: 3.5vmax;
}

.footer_contents {
  font-size: 2vw;
  line-height: 3.5vmax;
}


/* PC用、スマートフォン(Landscape)用デザイン */
@media (min-width: 1024px), (orientation: landscape){
  header {
    background-color: black;
    color: white;
    height: 8vh;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%; 
    z-index: 10;
  }

  .header_wrapper {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    padding: 0.5vh 0;
    width: 100%;
  }

  .header_left {
    background-color: blue;
    width: 35%;
  }

  .header_center {
    background-color: chartreuse;
    width: 26%;
  }

  .header_right {
    background-color: coral;
    width: 35%;
  }

  .site_title {
    font-size: 3vw;
    font-weight: bold;
    line-height: 8vh;
  }

  .header_contents {
    color: white;
    font-size: 1.7vw;
    line-height: 8vh;
  }

  .header_link {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
  
  .header_link:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .header_link:focus {
    color: rgba(255, 255, 255, 0.3);
  }

  .main {
    background-color: white;
    margin-top: 8vh;
    padding: 2vh 0;
    width: 100%; 
  }

  .main_wrapper {
    background-color: green;
    margin: 0 1vw;
    text-align: center;
  }

  .main_message {
    background-color: yellow;
    margin: 0.5vh 0;
    padding: 0.2vh 1.5vw;
    text-align: left;
  }
  
  .main_message p {
    background-color: pink;
    color: red;
    font-size: 1.2vw;
    margin: 0.2vmin 0;
  }

  .main_title {
    background-color: orange;
    font-size: 2.2vw;
    font-weight: bold;
    margin: 0.5vh 0;
    text-align: left;
  }

  .main_contents {
    background-color: turquoise;
    font-size: 2vw;
    margin: 0.5vh 0 0 0;
  }

  footer {
    background-color: black;
    color: white;
    height: 8vh;
    width: 100%; 
  }

  .footer_wrapper {
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
  }

  .footer_left {
    background-color: chocolate;
    width: 24%;
  }

  .footer_center {
    background-color: crimson;
    width: 48%;
  }

  .footer_right {
    background-color: darkgreen;
    width: 24%;
  }

  .site_inc {
    font-size: 2.5vw;
    line-height: 8vh;
  }

  .footer_contents {
    font-size: 2vw;
    line-height: 8vh;
  }  
}


